/* Títulos (h3) */
h1 {
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    color: #64baad;
    line-height: 1.2;
}

/* Botones de Acciones */
.btn-info {
    background-color: #0eafcf;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.10s ease-in-out;
}

.btn-danger {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.10s ease-in-out;
}

.btn-danger:hover {
    background-color: #c0392b;
}

/* Efecto Hover para las Filas de la Tabla */
tbody tr:hover {
    background-color: #f9f2ff;
}

/* Estilo para Enlaces de Descarga */
a.download-link {
    color: #3498db;
    font-weight: 600;
}

a.download-link:hover {
    color: #2980b9;
}
