details {
    width: 85%;
    margin: 0 auto ;
    background: #9ce5f2;
    margin-bottom: .5rem;
    box-shadow: 0 .1rem 1rem -.5rem rgba(0,0,0,.4);
    border-radius: 5px;
    overflow: hidden;
}

summary {
    padding: 1rem;
    display: block;
    background: #b2abf4;
    padding-left: 2.2rem;
    position: relative;
    cursor: pointer;
    user-select: none;
}

summary:before {
    content: '';
    border-width: .6rem; /* Aumentar el tamaño del triángulo */
    border-style: solid;
    border-color: transparent transparent transparent #100e02; /* Mantener el color original */
    position: absolute;
    top: 1.1rem; /* Ajustar la posición vertical para centrarlo con el texto */
    left: 1rem;
    transform: rotate(0);
    transform-origin: .3rem 50%; /* Ajustar el punto de rotación para un mejor efecto */
    transition: 1.25s transform ease; /* Mantener la duración de la transición */
}

/* Rotación del triángulo al abrir el details */
details[open] > summary:before {
    transform: rotate(90deg);
}

details summary::-webkit-details-marker {
    display:none;
}

details > ul {
    padding-bottom: 1rem;
    margin-bottom: 0;
}
