
.background-alu {
    background-image: url('imagen_tesis/background-alu.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.content-alu {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
}
.background-doc {
    background-image: url('imagen_tesis/background-doc.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.content-doc {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
}

.background-login {
    background-image: url('imagen_tesis/background-login.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.content-login {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
}
.background-login-2 {
    background-image: url('imagen_tesis/background-login-2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.content-login-2 {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
}
.background-login-3 {
    background-image: url('imagen_tesis/background-login-3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.content-login-3 {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
}
.background-adm-1 {
    background-image: url('imagen_tesis/background-adm-1.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.content-adm-1 {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
}
.contenedor-unidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.unidad {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.unidad h2 {
    margin-bottom: 10px;
}

.unidad a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.unidad a:hover {
    background-color: #45a049;
}
