
.background {
    background-image: url('imagen_tesis/background-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #333;
}
