/* Títulos (h3) */
h1 {
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    color: #64baad;
    line-height: 1.2;
}

/* Tabla */
/* table {
    width: 90%;
    border-collapse: collapse;
    font-size: 0.9rem;
    max-width: 100%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
} */

/* Encabezados de la Tabla */
/* thead th {
    font-weight: 600;
    padding: 1rem;
    text-align: center;
    color: #a083bc;
    background-color: #f4f0fa;
    border-bottom: 2px solid #d8c8e5;
}
 */
/* Celdas de la Tabla */
/* th,
td {
    padding: 0.8rem;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #e0d0f0;
} */

/* Estilo para los enlaces */
/* a {
    color: #524ffa;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 2px solid #d8c8e5;
}
a {
    margin-left: auto;
} */
/* a:hover {
    border-color: #a083bc;
} */

/* Botones de Acciones */
.btn-info {
    background-color: #0eafcf;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.10s ease-in-out;
}

/* .btn-info:hover {
    background-color: #8054b0;
} */

.btn-danger {
    background-color: #e74c3c;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.10s ease-in-out;
}

.btn-danger:hover {
    background-color: #c0392b;
}

/* Diseño Responsivo para la Tabla */
/* .table-responsive {
    overflow-x: auto;
} */

/* Efecto Hover para las Filas de la Tabla */
tbody tr:hover {
    background-color: #f9f2ff;
}

/* Estilo para Enlaces de Descarga */
a.download-link {
    color: #3498db;
    font-weight: 600;
}

a.download-link:hover {
    color: #2980b9;
}
